.App{
    min-width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    margin: 0px;
}

.headerBox {
    background-color: navy;
}

.header {
    color: white; 
    padding: 20px;
    margin: 0px;   
}

.welcome {
    color: white;
    background-color: black;
    padding: 5px;
    margin: 0;
}

.articlesNav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    }

.navOptions {
    background-color: cornflowerblue;
}

.myLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
}

.dropdownList {
    list-style-type: none;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "filterDropdown"
    "sortDropdown"
    "orderDropdown";
    justify-self: center;
    justify-content: center;
    gap: 10px 10px;
}

.filterDropdown{
    justify-self: left;
}

.sortDropdown{
    justify-self: left;
}

.orderDropdown{
    justify-self: left;
}

.articlesList{
    font-size: small;
    list-style-type: none;
    color: black;
    padding: 0;
    margin: 0;
}

.articleTitle {
    grid-area: title;
    background-color: navy;
    color: white;
    padding: 5px;
}

.articleAuthor {
    grid-area: author;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    margin: 0;
    padding: 5px;
}

.articleDate {
    grid-area: date;
    background-color: black;
    color: white;
    margin: 0;
    padding: 5px;
}

.articleComments {
    grid-area: comments;
    color: white;
    background-color: rgb(36, 90, 190);
    margin: 0;
    padding: 5px;
}

.articlesDelete {
    grid-area: delete;
    background-color: white;
}

.deleteArticleButton {
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 3px;
}

.confirmButtonArticlePage {
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(36, 90, 190);
    font-weight: bold;
    padding: 5px;
    margin: 3px;
}

.cancelDeleteButtonArticlePage {
    border-radius: 10px;
    border-width: 5px;
    border-color: gray;
    font-weight: bold;
    padding: 5px;
    margin: 3px
}

.voting {
    grid-area: voting;
}

.votecount {
    display: inline; 
}

.upvoteButton {
    display: inline;
    padding: 5px;
    margin: 5px;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;    
}

.downvoteButton {
    display: inline;
    padding: 5px;
    margin: 5px;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
}

.articleListItems {
    display: grid;
    grid-template-areas:
    "title"
    "date"
    "author"
    "comments"
    "voting"
    "delete";
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    text-align: center;
    background-color: navy;
    margin: 10px;
}

.votecount {
    font-weight: bold;
    color: white;
}

.titleList{
    background-color: rgb(36, 90, 190);
    color: black;
    padding-left: 5px;
}

.articleNav {
    background-color: cornflowerblue;
}

.homeButton{
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    font-size: large;
}

.profileBox {
    background-color: navy;
    color: white;
    text-align: center;border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: white;
    margin: 10px;
}

.userProfileContainer {
    display: grid;
    padding: 0px;
    font-size: small;
    grid-template-areas:
    "username actualUsername"
    "name actualName";
    margin: 0;
}

.profile {
    padding: 10px;
    margin: 0;
}

.username {
    display: inline;
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
    margin: 0px;
}

.actualUsername {
    background-color: black;
    display: inline;
    text-align: left;
    padding: 10px;
    margin: 0px
}

.name {
    display: inline;
    background-color: cornflowerblue;
    color: white;
    text-align: right;
    padding: 10px;
    margin: 0px;
}

.actualName {
    display: inline;
    text-align: left;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    margin: 0px;
}

.avatar {
    background-color: rgb(36, 90, 190);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

.avatarImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 50%;
}

.viewAllPostsLink {
    display: block;
    background-color: navy;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}

.userArticlesSection {
    border: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 30px;
    margin: 10px;
    background-color: navy;
    color: white;
}

.userArticlesList {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.userArticlesListItems {
    display: grid;
    border: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 30px;
    margin: 10px;
    background-color: black;
}

.userArticlesTitle {
    display: block;
    padding: 5px;
    color: white;
    font-size: large;
}

.userArticlesDate {
    background-color: cornflowerblue;
    margin: 0;
    padding: 5px;
    color: black;
}

.userArticlesComments {
    background-color: rgb(36, 90, 190);
    margin: 0;
    padding: 5px;
}

.deleteArticleButton {
    background-color: white;
    border-width: 5px;
    color: black;
    margin: 5px;
}

.areYouSureArticle {
    font-size: small;
}

.confirmArticleDeleteButton {
    margin: 10px;
    background-color: white;
    border-width: 5px;
    border-color: cornflowerblue;
    color: black;
    border-radius: 10px;
}

.cancelDeleteArticleButton {
    margin: 10px;
    background-color: white;
    border-width: 5px;
    border-color: white;
    color: black;
    border-radius: 10px;
}

.articlePageTitle {
    grid-area: titleArticlePage;
    display: inline;
    margin: 0;
    padding: 10px;
    font-size: x-large;
}

.articlePageDate {
    grid-area: dateArticlePage;
    display: inline;
    background-color: black;
    padding: 10px;
    margin: 0px;
    font-size: medium;
}

.articlePageUsername {
    grid-area: usernameArticlePage;
    display: inline;
    background-color: rgb(36, 90, 190);
    padding: 10px;
    margin: 0px;
    font-size: medium;
}

.articlePageBodyText {
    grid-area: bodyArticlePage;
    background-color: cornflowerblue;
    padding: 10px;
    margin: 0;
    color: black;
    font-size: large;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.articlePageBody {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 30px;
    margin: 10px;
    background-color: navy;
    color: white;
    grid-template-areas: 
        "titleArticlePage"
        "dateArticlePage"
        "usernameArticlePage"
        "bodyArticlePage";
}

.interactiveCard {
    display: inline-block;
    background-color: navy;
    border: white;
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
}

.upvoteArticle {
    font-size: large;
    border: 5px;
    border-radius: 10px;
    padding: 3px;
    border-color: white;
    border-style: outset;
    margin: 10px;
}

.downvoteArticle {
    font-size: large;
    border: 5px;
    border-radius: 10px;
    padding: 3px;
    border-color: gray;
    border-style: outset;
    margin: 10px;
}

.postCommentButton {
    font-size: large;
    border: 5px;
    border-radius: 10px;
    padding: 3px;
    border-color: white;
    border-style: outset;
    margin: 10px
}

.commentForm {
    font-size: large;
    padding: 5px;
}

.input {
    font-size: large;
    margin: 10px;
    padding: 5px;
}

.submitComment {
    font-size: large;
    border: 5px;
    border-radius: 10px;
    padding: 3px;
    border-color: white;
    border-style: outset;
    margin: 10px
}

.cancelButton {
    font-size: large;
    border: 5px;
    border-radius: 10px;
    padding: 3px;
    border-color: gray;
    border-style: outset;
    margin: 10px
}

.submittedView {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.commentCard {
    background-color: navy;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    margin: 10px;
    color: white;
    font-size: x-small;
}

.dropdownComments {
    background-color: black;
    margin: 0;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

.selectComments {
    font-size: large;
    margin: 10px;
}

.commentsList {
    list-style-type: none;
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-size: small;
}

.commentsListItems {
    background-color: navy;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.commentUsername {
    margin: 0px;
    padding: 10px;
}

.commentDate {
    background-color: black;
    margin: 0px;
    padding: 5px;
    font-size: small;
}

.commentBody {
    word-wrap: break-word;
    background-color: cornflowerblue;
    color: black;
    margin: 0px;
    padding: 5px;
    font-size: medium;
}

.voteOnComment {
    display: inline;
    font-weight: bold;
    font-size: medium;
    margin: 0px;
}

.commentUpvote{
    font-size: medium;
    border: 5px;
    border-radius: 10px;
    padding: 3px;
    border-color: white;
    border-style: outset;
    margin: 10px;
}

.commentDownvote {
    font-size: medium;
    border: 5px;
    border-radius: 10px;
    padding: 3px;
    border-color: gray;
    border-style: outset;
    margin: 10px;
}

.deleteButtonView {
    background-color: white;
    margin: 0px;
    padding-top: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.deleteCommentButton {
    border-width: 5px;
    border-style: outset;
    border-radius: 10px;
    border-color: gray;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
}

.areYouSureComment {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: black;
    margin: 0px;
    padding: 5px;
}

.areYouSureText {
    font-size: medium;
}

.confirmDeleteButtonComment {  margin: 5px;
    padding: 5px;
    border-width: 5px;
    border-style: outset;
    border-color: rgb(36, 90, 190);
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
}

.cancelDeleteButtonComment {
    margin: 5px;
    padding: 5px;
    border-width: 5px;
    border-style: outset;
    border-color: gray;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
}

.postNewArticle {
    background-color: white;
}

.newArticleTitle{
    background-color: navy;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: larger;
}

.titleLabel {
    display: block;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

.bodyLabel {
    display: block;
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

.inputTitleBox {
    font-size: medium;
    padding: 5px;
    margin: 5px;
}

.inputBodyBox {
    font-size: medium;
    padding: 5px;
    margin: 5px;
}

.submitArticleButton {
    border-width: 5px;
    border-style: outset;
    border-color: gray;
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
}

.articleSubmittedText {
    font-size: large;
    text-align: center;
    padding: 10px;
}

.viewArticleButtonSection {
    text-align: center;
    margin: 10px;
}

.viewArticleButton {
    margin: auto;
    display: block;
    border-width: 5px;
    border-style: outset;
    border-color: gray;
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
}

