.App{
    min-width: 375px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    margin: 0px;
}

.headerBox {
    background-color: navy;
}

.header {
    color: white; 
    padding: 20px;
    margin: 0px;   
}

.welcome {
    color: white;
    background-color: black;
    padding: 5px;
    margin: 0;
}

.articlesNav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    }



.navOptions {
    background-color: cornflowerblue;
}

.myLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
}

.dropdownList {
    list-style-type: none;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "filterDropdown"
    "sortDropdown"
    "orderDropdown";
    justify-self: center;
    justify-content: center;
    gap: 10px 10px;
}

.filterDropdown{
    justify-self: left;
}

.sortDropdown{
    justify-self: left;
}

.orderDropdown{
    justify-self: left;
}

.articlesList{
    font-size: small;
    border: solid;
    border-color: black;
    border-radius: 50px;
    list-style-type: none;
    color: black;
    padding: 0;
    margin: 0;
}

.articleTitle {
    grid-area: title;
    background-color: navy;
    color: white;
    padding: 5px;
}

.articleAuthor {
    grid-area: author;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    margin: 0;
    padding: 5px;
}

.articleDate {
    grid-area: date;
    background-color: black;
    color: white;
    margin: 0;
    padding: 5px;
}

.articleComments {
    grid-area: comments;
    color: white;
    background-color: rgb(36, 90, 190);
    margin: 0;
    padding: 5px;
}

.articlesDelete {
    grid-area: delete;
    background-color: white;
}

.deleteArticleButton {
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 3px;
}

.voting {
    grid-area: voting;
}

.votecount {
    display: inline; 
}

.upvoteButton {
    display: inline;
    padding: 5px;
    margin: 5px;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;    
}

.downvoteButton {
    display: inline;
    padding: 5px;
    margin: 5px;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
}

.articleListItems {
    display: grid;
    grid-template-areas:
    "title"
    "date"
    "author"
    "comments"
    "voting"
    "delete";
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    text-align: center;
    background-color: navy;
    margin: 10px;
}

.votecount {
    font-weight: bold;
    color: white;
}

.titleList{
    background-color: rgb(36, 90, 190);
    color: black;
    padding-left: 5px;
}
